<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidden Text Box</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to external CSS file -->
</head>

<body>
    <!-- Where the response will be displayed -->
    <div id="response"></div>
    <!-- Input area -->
    <div class="input_container">
        <div class="input_display">
            <span id="input_content"></span><span id="cursor_content">_</span>
        </div>
        <input type="text" class="hidden_textbox" id="input_textbox">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Link to external JS file -->
</body>
</html>
