<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidden Text Box</title>
    <!-- Metadata information -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to external CSS file -->
</head>

<body>
    
    <!-- Console HTML -->
    <div id="console_container">
        <!-- Where the console will be displayed -->
        <div id="response_container" class="display_container">
            <div id="response_content"></div>
        </div>
        <div id="input_container" class="display_container">
            <span id="input_content"></span>
            <span id="cursor_content">_</span>
        </div>
        <!-- Display controller -->
        <input type="text" id="input_controller">
    </div>
     <!-- Console JS -->2
    <script>
        // Hold the values passed from server
        var ENV_URL = '{{ ENV_URL }}';
        // Dynamically load external JavaScript file
        var script = document.createElement('script');
        script.src = "{{ url_for('static', filename='script.js') }}";
        document.head.appendChild(script);
    </script>
</body>
</html>
