/* CONSOLE STYLING */

/* Styling for displays */
.display_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Styling for container */
#console_container {
    position: relative;
    width: 100%;
    padding: 8px;
    font-family: "Courier New", Courier, monospace;
}
/* Styling for the hidden textbox */
#input_controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
    pointer-events: auto; /* Ensure it receives mouse events */
}
/* Styling for cursor */
#cursor_content {
    font-weight: bold;
    animation: blink 1s linear infinite;
}
/* Cursor blink animation */
@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

